    <div class="footer">
        <p>Copyright © 2020. FoodShala</p>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>