<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">FoodShala</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right">
                <% if (Role === 'customer') { %> 
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="#"><%= Name %></a>
                    </li>
                <% } else if (Role == 'restaurant') { %>
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="/addItem">AddItem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="/order">ViewOrders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="/">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="#"><%= Name %></a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" class="float-right" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>