<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/header.ejs') %>
    <div>
        <h1>List of food Items...</h1>
    </div>
    <%- include('./includes/footer.ejs') %>